{% extends "base.html" %}
{% block start %}

<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h2>Office Management System</h2>
            <hr>
        </div>
    </div>
</div>


<div class="container mt-5">
    <form class="col-6 mx-auto card p-3 shadow-lg" action="add_emp/"  method="post">
        {% csrf_token %}
        <h2>Add New Employee</h2>
        <!-- {% if messages %}
        {{ messages.tags }}
        <div class="alert alert-primary" role="alert">
            {% for message in messages %}
            {{ message }}
            {% endfor %}
        </div>
        {% endif %} -->
       
        <div class="form-group mt-2">
            <input type="text" value="{{first_name}}" placeholder="First Name" name="first_name" autocomplete="off" class="form-control">
        </div>
        <div class="form-group mt-2 ">
            <input type="text" value="{{last_name}}" placeholder="Last Name" name="last_name" autocomplete="off" class="form-control">
        </div>
        <div class="form-group mt-2">
            <input type="number" value="{{dept}}" placeholder="Department" name="dept" autocomplete="off" class="form-control">
        </div>
        <div class="form-group mt-2 ">
            <input type="number" value="{{role}}" placeholder="Role" name="role" autocomplete="off" class="form-control">
        </div>
        <div class="form-group mt-2">
            <input type="number" value="{{salary}}" placeholder="Salary" name="salary" autocomplete="off" class="form-control">
        </div>
        <div class="form-group mt-2 ">
            <input type="number" value="{{bonus}}" placeholder="Bonus" name="bonus" autocomplete="off" class="form-control">
        </div>
        
        <div class="form-group mt-2 ">
            <input type="tel" value="{{phone}}" placeholder="phone" name="phone" autocomplete="off" class="form-control">
        </div>
        
        
        <button type="submit" class="btn btn-success m-3">Submit</button>
    </form>
</div>



{% endblock %}