{% extends "base.html" %}
{% block start %}

<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h2>Office Management System</h2>
            <hr>
            
        </div>
    </div>
</div>

<div class="container col-6">
    <form method="post">
        {% csrf_token %}
        <div>
            <label class="form-label">Employee First/Last Name</label>
            <input type="text" name="name" class="form-control mt-2">
        </div>
        <div>
            <label class="form-label">Department</label>
            <input type="text" name="dept" class="form-control mt-2">
        </div>
        <div>
            <label class="form-label">Role</label>
            <input type="text" name="role" class="form-control mt-2">
        </div>
        <hr>
        <button type="submit" class="btn btn-primary mt-2">Search</button>
    </form>
    </div>


{% endblock %}