{% extends "base.html" %}
{% block start %}

<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h2>Office Management System</h2>
            <hr>
            <ul class=" list-inline social-icon">
                <li class="list-inline-item"><a class="btn btn-success mt-2" role="button" href="all_emp/">View</a></li>
                <li class="list-inline-item"><a class="btn btn-success mt-2" role="button" href="add_emp/">Add</a></li>
                <li class="list-inline-item"><a class="btn btn-success mt-2" role="button" href="remove_emp/">Remove</a></li>
                <li class="list-inline-item"><a class="btn btn-success mt-2" role="button" href="filter_emp/">Filter</a></li>
            </ul>
        </div>
    </div>
</div>


{% endblock %}