{% extends "base.html" %}
{% block start %}

<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h2>Office Management System</h2>
            <hr>

        </div>
    </div>
</div>
<div class="container">
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdown" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">Remove Emp</button>
        <ul>
            {% for n in emp %}
            <li><a href="remove_emp/{{n.id}}">{{n.first_name}} {{n.last_name}}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>


{% endblock %}